.container {
  display: flex;
  justify-content: center;
}

#frame {
  border: 2px hotpink solid;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  max-height: 100vh;
}

#picture {
  height: 100%;
  width: 100%;
  display: block;
  touch-action: none;
}
